@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('./menu.css');
@import url('./cards.css');
@import url('./receitas.css');
@import url('./login.css');
@import url('./contato.css');
@import url('./modal.css');
@import url('./sobre.css');
@import url('./layoutChef.css');
@import url('./footer.css');
@import url('./receitaUnica.css');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    /*CORES PADRÃO */
    --padrao: #F58F29;
    --padrao-dark: #ff8408;
    --padrao-light: #fc8b1afa;
    --padrao-light-2: #ffca94f1;

    /* MODO LIGHT*/
    --corWhite: white;
    --corpo: rgba(255, 255, 255, 0.6);
    --letras-light: black;
    --bordas-light: rgba(0, 0, 0, 0.274);
    --inverte-light: white;
    --hover-light: var(--padrao-dark);

    /* MODO DARK */
    --corpo-dark: #24292E;
    --letras-dark: white;
    --bordas-dark: rgba(255, 255, 255, 0.26);
    --inverte-dark: #24292E;
    --hover-dark: white;
}

.tema-claro{
    --planodefundo: var(--corpo);
    --textos: var(--letras-light);
    --bordas: var(--bordas-light);
    --inverte: var(--inverte-light);
    --hover: var(--hover-light);
}

.tema-escuro{
    --planodefundo: var(--corpo-dark);
    --textos: var(--letras-dark);
    --bordas: var(--bordas-dark);
    --inverte: var(--inverte-dark);
    --hover: var(--hover-dark);
}

body{
    background: var(--planodefundo);
    font-family: 'Roboto', sans-serif; 
}

#cabeca{
    height: 70px;
    width: calc(100% - 10px);
    background-color: var(--planodefundo);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--padrao-light);
}

.cards img{
    display: block;
    max-width: 100%;
}

.corpo{
    /* max-width: 960px;   */
    margin: 0 auto; 
}