/* === RODAPÉ === */

sup{
    font-size: 0.4em;
}


.bg-footer{
    background-color: var(--padrao-light);
    margin-top: 5%;
    width: 100%;
    height: 100%;
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 960px;
    padding-left: 2%;
    color: var(--corWhite);
    text-align: left;
}

.footer-content li{
    padding: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.footer-content a{
    text-decoration: none;
    color: var(--corWhite);
}

.footer-content h3{
    padding-left: 10px;
    color: var(--corWhite);
}

.sobrefoodfy h3{
    padding-left: 0px;
}

.sobrefoodfy h4{
    margin-top: 20px;
    font-size: 1.4em;
}

.sobrefoodfy p{
    line-height: 1.4em;
}

.redesocial{
    display: flex;
    justify-content: flex-start;
    justify-self: left;
    margin-top: 20px;
}

.redesocial a{
    padding: 10px 10px 10px 0px;
}

.linksacesso{
    margin-left: 30px;
}

.lista-contatos{
    padding-bottom: 60px;
}

.rodape{
    text-align: center;
    background-color: var(--planodefundo);
    padding: 23px;
    font-size: 14px;
    color: var(--textos);  
}

@media (max-width: 1000px){
    .bg-footer{
        background-color: var(--padrao-light);
        margin-top: 5%;
        height: 100%;
    }

    .sobrefoodfy{
        padding-left: 10px;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
    }

    .linksacesso{
        margin-left: 0px;
    }
}