#lista{
    position: relative;
}

#lista > #menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

#lista > #menu > li > a{
    padding-bottom: 10px;
    font-size: 1.3rem;
}

#lista > #menu > li > a:hover{
    color: var(--hover-light);
    transition: 200ms;
    font-weight: bold;
}

#menu li{
    font-size: 1.3rem;
    cursor: pointer;
    padding: 10px;
    color: var(--textos);
}

[data-lista-maisInfo="mais"]:hover{
    color: var(--padrao-dark) !important;
    font-weight: 700;
}

.organiza-mais-opc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.arrow{
    background-image: url(../../Imagens/icon-arrow-down.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 14px;
    width: 14px; 
    
}

.arrow.active{
    transition: transform .5s;
    transform: rotate(-180deg);
}

[data-lista-maisInfo="lista"]{
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: var(--padrao-menu-mobile);
    z-index: 2000;
    overflow: hidden;
}

[data-lista-maisInfo="lista"].active{
    display: block;
}

#links{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#links.active{
    gap: 20px;
}

#Logo a{
    padding: 10px 10px 10px 10px;
    font-size: 1.9em;
    text-decoration: none;
    color:var(--padrao-dark);
    font-weight: bold;
}

/* BOTAO MENU */

#btn-menu{
    display: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px;
}

/* NAV */

#nav{
    display: flex;
    align-items: center;
    justify-content: center;
} 

#botao-1{
    display: none;
    cursor: pointer;
}

#botao-1.active{
    display: block;
    cursor: pointer;
}


/* PARTE DE BUSCA DA NAV */

#organizabusca{
    display: block;
}

.buscaMobile{
    display: none;
}

.busca::placeholder{
    font-size: 14px;
    color: var(--textos);
}

.busca{
    padding-left: 4px;
    height: 35px;
    width: 400px;
    border-radius: 5px;
    background-color: var(--planodefundo);
    outline: var(--bordas) 1px solid;
    color: var(--textos);
}

#botaoEnter{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--padrao-dark);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1000px){
    #lista{
        position: static;
    }

    #links{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
    }

    .buscaMobile{
        display: block;
    }

    .buscaMobile img{
        height: 25px;
        cursor: pointer;
    }

    #Logo{
        justify-self: center;
    }

    #organizabusca{
        display: none;
    }

    #lista{
        justify-self: flex-end;
    }

    [data-lista-maisInfo="lista"].active{
        opacity: 1;
        display: block;
        position: static;
        background-color: var(--padrao-menu-mobile);
    }
    
    #btn-menu{
        display: flex;
        gap: 5px;
        background: var(--planodefundo);
    }

    #hamburguer{
        color: var(--padrao-dark);
        width: 20px;
        border-top: 2px solid;
    }
    
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
    }
    

    #lista.active #hamburguer{
        border-top-color: transparent;
    }

    #lista.active #hamburguer::before{
        transform: rotate(135deg);
        transition: .7s;
    } 

    #lista.active #hamburguer::after{
        position: relative;
        transform: rotate(-135deg);
        transition: .7s;
        top: -7px;
    }

    #lista #menu{
        display: block;
        position: absolute;
        right: 0px;
        top: 70px;
        width: 0;
        background-color: var(--padrao-menu-mobile);
        z-index: 2000;
        visibility: hidden;
        overflow-y: hidden;
        transition: .3s;
    }

    #lista.active #menu{
        transition: .3s;
        height: auto;
        visibility: visible;
        overflow: auto;
        width: 40%;
    }

    #menu > li{
        font-size: 1.3rem;
        margin: 10px 20px;
        padding: 1rem 0;
        border-bottom: 1px solid var(--padrao-dark);
    }

    #menu li:nth-child(4){
        border-bottom: none;
    }

    #menu  li  a{
        font-size: 1.3em;
        color: var(--textos) !important;
        position: relative;
    }

}

@media (min-width: 1001px){

    #menu li{
        font-size: 1.3em;
    }
    #menu > li > a{
        color: var(--textos) !important;
        position: relative;
    }

    #lista > #menu > li > a::after{
        content: '';
        position: absolute;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -3px;
        background-color: var(--padrao-dark);
    }

    #lista > #menu > li > a:hover{
        color: var(--padrao-dark) !important;
    }

    #lista > #menu > li > a:hover::after{
        width: 100%;
        transition: width 300ms ease-in-out 0.1s;
    }
}