.modal{
    display: none;
}

.modal.active{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(100% + 20px);
    background-color: rgba(0, 0, 0, 0.281);
    position: absolute;
    top: -20px;
    z-index: 1000;
}

.card-modal{
    display: block;
    height: auto;
    width: 360px;
    border-radius: 15px;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--padrao-menu-mobile);
    color: var(--textos);
    padding-bottom: 12px;
}

.close-modal img{
    position: absolute;
    top: -8px;
    right: -4px;
    background-color: var(--padrao-menu-mobile);
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
}

.design-imagem-card-modal{
    width: 100%;
    height: 220px;
    border-radius: 15px 15px 0px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card_titulo-modal{
    text-align: center;
    margin-top: 12px;
    font-size: 1rem;
}

.ingredientes-titulo{
    margin-top: 24px;
    text-align: center;
}

.ingredientes{
    list-style: none;
    text-align: left;
    margin-top: 8px;
    margin-left: 16px;
}

.ingredientes li{
    margin-top: 6px;
}

.ver-mais{
    text-align: right;
    margin: 42px 12px 0px 0px;
}

.ver-mais a{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--padrao-light);
}

@media (max-width: 410px){
    
    .card-modal{
        width: 260px;
    }

    .card_titulo-modal{
        font-size: 0.7rem;
    }

    .design-imagem-card-modal{
        width: 100%;
        height: 160px;
    }

    .ver-mais a{
        font-size: 0.9rem;
    }

    .close-modal img{
        height: 28px;
    }
}