@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    /*CORES PADRÃO */
    --padrao: #F58F29;
    --padrao-dark: #ff8408;
    --padrao-light: #fc8b1afa;
    --padrao-light-2: #ffca94f1;

    /* MODO LIGHT*/
    --corWhite: white;
    --corpo: rgba(255, 255, 255, 0.6);
    --letras-light: black;
    --bordas-light: rgba(0, 0, 0, 0.274);
    --inverte-light: white;
    --hover-light: var(--padrao-dark);

    /* MODO DARK */
    --corpo-dark: #24292E;
    --letras-dark: white;
    --bordas-dark: rgba(255, 255, 255, 0.26);
    --inverte-dark: #24292E;
    --hover-dark: white;
}

.tema-claro{
    --planodefundo: var(--corpo);
    --textos: var(--letras-light);
    --bordas: var(--bordas-light);
    --inverte: var(--inverte-light);
    --hover: var(--hover-light);
}

.tema-escuro{
    --planodefundo: var(--corpo-dark);
    --textos: var(--letras-dark);
    --bordas: var(--bordas-dark);
    --inverte: var(--inverte-dark);
    --hover: var(--hover-dark);
}

body{
    background: var(--planodefundo);
    font-family: 'Roboto', sans-serif; 
}

#cabeca{
    height: 70px;
    width: calc(100% - 10px);
    background-color: var(--planodefundo);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#menu > li > a{
    padding: 10px;
    font-size: 1.2em;
    color: var(--letras-light);
}

#menu > li > a:hover{
    color: var(--hover-light);
    transition: 200ms;
    font-weight: bold;
}

.cards img{
    display: block;
    max-width: 100%;
}

.corpo{
    max-width: 960px;  
    margin: 0 auto; 
}

#links{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#links.active{
    gap: 20px;
}

#Logo a{
    padding: 10px 10px 10px 10px;
    font-size: 1.9em;
    text-decoration: none;
    color:var(--padrao-dark);
    font-weight: bold;
}

/* BOTAO MENU */

#btn-menu{
    display: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px;
}

/* NAV */

#nav{
    display: flex;
    align-items: center;
    justify-content: center;
} 

#botao-1{
    display: none;
    cursor: pointer;
}

#botao-1.active{
    display: block;
    cursor: pointer;
}


/* PARTE DE BUSCA DA NAV */

.busca::placeholder{
    font-size: 14px;
    color: var(--textos);
}

.busca{
    padding-left: 4px;
    height: 35px;
    width: 400px;
    border-radius: 5px;
    background-color: var(--planodefundo);
    outline: var(--bordas) 1px solid;
    color: var(--textos);
}

#botaoEnter{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--padrao-dark);
    color: white;
    font-weight: bold;
}




/* === PRIMEIRO LAYOUT === */

.layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
    background-color: var(--padrao-light);
    max-width: 58.75em;
    max-height: 33em;
    padding: 4em 0.25em;
    border-radius: 30px;
    padding-bottom: 1px;
    margin-top: 36px;
    margin-left: 10px;
    margin-right: 10px;
}

.layout img{
    padding-right: 5%;
}

.layoutTexto{
    color: var(--corWhite);
}

.layoutTexto h1{
    font-weight: 900;
    font-size: 2em;
    margin: 0px auto;
    padding-left: 20px;
    padding-top: 3vh;
}

.layoutTexto p{
    line-height: 28px;
    max-width: 300px;
    padding-left: 20px;
    padding-top: 1vh;
}

.subtitulo h2{
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

/*=== CARDS ===*/

.organizaCard{
    margin-left: 10px;
    margin-right: 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 300px;
    margin: 10px auto;
    padding: 5px;
    cursor: pointer;
}

.card_imagem img{
    width: 340px;
    height: 140px;
    border-radius: 15px;
}

.card_titulo h1{
    margin: 20px auto 5px;
    color: var(--textos);
}


.card_autor{
    border-radius: 10px;
    width: 50%;
    height: 20px;
    color: var(--textos);
}


/*=== PÁGINA SOBRE===*/

.textos{
    margin-left: 20px;
    margin-right: 10px;
}

.textos h1, h2, h3{
    font-size: 1.5em;
    padding-top: 50px;
    padding-bottom: 20px;
    color: var(--textos);
}

.textos p{
    font-size: 18px;
    color: var(--textos);
}

/*PAGINA DE RECEITAS */

.organizareceita{
    margin: 20px;
}

.categoria ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F58F29;
    border-radius: 10px;
}

.categoria li{
    padding: 10px;
}

.categoria nav{
    padding: 20px 10px;
}

.categoria a{
    color: var(--letras-light);
    font-size: 0.8em;
    font-weight: 500;
    padding: 5px;
}

.categoria a:hover{
    color: var(--corWhite);
    font-weight: bold;
    transition: 400ms;
}

/* PAGINA DE RECEITA CLICÁVEL*/

.ham{
    margin: 30px 10px;
    color: var(--textos);
}
.ham img{
    width: 100%;
    height: 280px;
}

.info_card{
    font-size: 1.5em;
    text-align: center;
    margin-top: 8vh;
}

.textos_receitaUnica{
    margin: 10px;
}

.textos_receitaUnica h2{
    font-size: 2em;
}

.textos_receitaUnica p{
    margin: 20px 0;
    text-align: justify;
    color: var(--textos);
}

#unico{
    margin: 10px;
}

.lista_ingredientes{
    font-size: 1.1em;
    margin-left: 30px;
}

.lista_ingredientes li{
    padding: 6px 0;
    text-align: justify;
    color: var(--textos);
}


/* PÁGINA DE LOGIN */

.login1{
    color: var(--textos);
}

.login {
    width: 400px;
    height: 520px;
    margin: 14vh auto;
    margin-bottom: 40vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px var(--bordas);
}

.login h1{
    padding-top: 20px;
    font-size: 2.5em;
}

.login h2{
    margin-left: 4%;
    text-align: left;
    font-size: 21px;
}

.login a{
    margin: 10px auto;
    text-decoration: none;
    color: rgb(63, 60, 60);
}

.entrada{
    padding-left: 2%;
    width: 370px;
    height: 40px;
    border-radius: 5px;
    outline: rgba(0, 0, 0, 0.404) 1px solid;
    font-size: 1em;
}

#subopc a{
    font-size: 1.1em;
    font-weight: normal;
    color: var(--textos);
}

#subopc a:hover{
    color:var(--padrao-dark);
    font-weight: bold;
}

.botao{
    margin: 30px auto;
    padding: 15px 100px;
    border-radius: 5px;
    background-color: var(--padrao-dark);
    color: white;
    font-weight: 600;
    font-size: 21px;
}

.entrada::placeholder{
    font-size: 1em;
}

/* >>> PÁGINA DE CONTATO <<< */

.contatos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10vh;
}

.contatos h3{
    color: white;
}

/*HORÁRIO */
.content-whatsapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 180px;
    background-color: var(--padrao-light);
    color: white;
    border-radius: 10px;
    margin: 10px;
}

.content-whatsapp h3{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1em;
}

.content-whatsapp  p{
    font-size: 0.9em;
}

.content-whatsapp  img{
    margin-top: 40px;
    width: 45px;
    height: 45px;
}

/* ENDEREÇO */

.content-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 180px;
    background-color: var(--padrao-light);
    color: white;
    border-radius: 10px;
    margin: 10px;
}

.content-email h3{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1em;
}

.content-email p{
    font-size: 0.9em;
}

.content-email img{
    margin-top: 40px;
    width: 45px;
    height: 45px;
}

/* TELEFONE */

.content-telefone{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 180px;
    background-color: var(--padrao-light);
    color: white;
    border-radius: 10px;
    margin: 10px;
}

.content-telefone img{
    margin-top: 40px;
    width: 45px;
    height: 45px;
}

.content-telefone h3{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1em;
}

.content-telefone p{
    font-size: 0.9em;
}

.contatoesug{
    margin: 9em 20px;
}

.contatoesug h1{
    font-weight: 900;
    font-size: 2em;
    color: var(--textos);
}

.contatoesug input{
    outline: rgba(0, 0, 0, 0.404) 1px solid;
    background-color: var(--padrao-light-2);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 1.3em;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.mensagem input{
    width: 100%;
    height: 250px;
    /*descobrir como alinhar o texto em balões maiores*/
}

.botao-2{
    margin-top: 30px;
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
    background-color: var(--padrao-dark);
    font-size: 1em;
    font-weight: 700;
}


/*==== MODAL OVERLAY ====*/

.modal_overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: var(--inverte);
    width: 450px;
    height: 600px;
    margin: 25vh auto;
    position: relative;
    border-radius: 10px;
    color: var(--textos);
}


.close_modal{
    position: absolute;
    cursor: pointer;
    bottom: 10px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3px;
    font-size: 16px;
}

/* ==== imagem do modal ==== */


.modal_conteudo img{
    max-width: 100%;
    border-radius: 5px 5px 0px 0px;
}


/* === MODAL ACTIVE === */

.modal_overlay.active{
    visibility: visible;
    opacity: 1;
}

.titulosModal{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulosModal h1{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.ingredientes{
    padding-left: 10px;
}

.modal_detalhes{
    display: flex;
    justify-content: space-between;
}

.detalhes{
    margin-right: 10px;
}

#rend{
    margin-top: -15px;
}
/* === RODAPÉ === */

sup{
    font-size: 0.4em;
}

.bg-footer{
    background-color: var(--padrao-light);
    margin-top: 5%;
    height: 350px;
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 960px;
    padding-left: 2%;
    color: var(--corWhite);
    text-align: left;
}

.footer-content li{
    padding: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.footer-content a{
    text-decoration: none;
    color: var(--corWhite);
}

.footer-content h3{
    padding-left: 10px;
    color: var(--corWhite);
}

.sobrefoodfy h3{
    padding-left: 0px;
}

.sobrefoodfy h4{
    margin-top: 20px;
    font-size: 1.4em;
}

.sobrefoodfy p{
    line-height: 1.4em;
}

.redesocial{
    display: flex;
    justify-content: flex-start;
    justify-self: left;
    margin-top: 20px;
}

.redesocial a{
    padding: 10px 10px 10px 0px;
}

.linksacesso{
    margin-left: 30px;
}

.rodape{
    left: 0;
    text-align: center;
    background-color: var(--planodefundo);
    width: 100%;
    padding: 23px;
    font-size: 14px;
    color: var(--textos);
}



