<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=2.0">
        <title>Foodfy - Contatos</title>
        <link rel = "shortcut icon" href = "chef.png">
        <link rel = "stylesheet" href = "../public/css/all.css">
    </head>

    <body class="tema-claro">

        <section class="corpo">

            <header id = "cabeca">
                <div id = "links">
                    
                    <div id="Logo">
                        <a href="index.html">Foodfy</a>
                    </div>

                    <div id="organizabusca">
                        <input class = "busca" type="text" placeholder = "Buscar uma receita">
                        <button id = "botaoEnter">Buscar</button>
                    </div>

                    <div id="lista" data-menu="lista">
                        <button id = "btn-menu" data-menu="btn-menu">
                            <span id="hamburguer"></span>
                        </button>
                        <ul id="menu">
                            <li><a href="sobre.html">Sobre</a></li>
                            <li><a href="contato.html">Contato</a></li>
                            <li><a href="receitas.html">Receitas</a></li>
                            <li><a href="entrar.html">Login</a></li>
                        </ul>
                    </div>


                </div>
            </header>

            <section class="contatos">
                <div class="content-whatsapp">
                    <img src="../icons/message-circle.svg" alt="horario">
                    <h3>83 9922-8544</h3>
                    <p>Whatsapp</p>
                </div>

                <div class="content-email">
                    <img src="../icons/mail.svg" alt="email">
                    <h3>foodfy@gmail.com</h3>
                    <p>E-mail Comercial</p>
                </div>

                <div class="content-telefone">
                    <img src="../icons/phone-call.svg" alt="telefone">
                    <h3>3421-8369</h3>
                    <p>Fale Conosco</p>
                </div>
            </section>


            <form class="contatoesug" action="teste.php" method="post">
                <h1>Dúvidas & Sugestões</h1>
                
                <section class="form" ac>
                    <div>
                        <label for="nome-contato">
                            <h2>Nome</h2>
                        </label>
                        <input type="text" id="nome-contato" required>
                    </div>
    
                    <div>
                        <label for="sobrenome-contato">
                            <h2>Sobrenome</h2>
                        </label>
                        <input type="text" id="sobrenome-contato" required>
                    </div>

                    <div>
                        <label for="email-contato">
                            <h2>Email</h2>
                        </label>
                        <input type="email" id="email-contato" required>
                    </div>
    
                    <div>
                        <label for="assunto-contato">
                            <h2>Assunto</h2>
                        </label>
                        <input type="text" id="assunto-contato" required>
                    </div>

                </section>


                <div class="mensagem">
                    <label for="mensagem-contato">
                        <h2>Mensagem</h2>
                    </label>
                    <textarea name="" id="mensagem-contato" cols="30" rows="10" required></textarea>
                </div>

                <button class="botao-2">Enviar</button>
            </form>


        </section>

        <footer>
            <div class="bg-footer">
                <section class="footer-content">
                    <div class="sobrefoodfy">
                        <h3>Foodfy<sup>®</sup></h3>
                        <p>Comida tradicional, fresca e deliciosa para encantar toda a família.</p>
                        <h4>Siga-nos</h4>
    
                        <div class="redesocial">
                            <div><a href="https://pt-br.facebook.com/" target="_blank"><img src="../icons/facebook.svg" alt="facebook"></a></div>
                            <div><a href="https://www.instagram.com/" target="_blank"><img src="../icons/instagram.svg" alt="instagram"></a></div>
                            <div><a href="https://twitter.com/" target="_blank"><img src="../icons/twitter.svg" alt="twitter"></a></div>
                        </div>
                    </div>
    
                    <div class="linksacesso">
                        <h3>Links</h3>
                        <ul>
                            <li><a href = "foodfy-inicial.html">Início</a></li>
                            <li><a href = "sobre.html">Sobre</a></li>
                            <li><a href = "receitas.html">Receitas</a></li>
                            <li><a href="contato.html">Contato</a></li>
                            <li><a href="entrar.html">Login</a></li>
                        </ul>
                    </div>
    
                    <div class="suporte">
                        <h3>Suporte</h3>
                        <ul>
                            <li><a href="contato.html">Contato</a></li>
                            <li><a href="contato.html">Central de apoio</a></li>
                            <li><a href="contato.html">Feedback</a></li>
                        </ul>
                    </div>
    
                    <div class="contatos-footer">
                        <h3>Contatos</h3>
                        <ul>
                            <li><a href="contato.html">3421-8369</a></li>
                            <li><a href="contato.html">foodfy@gmail.com</a></li>
                            <li><a href="contato.html">Rua Horácio Nóbrega, 451, Belo Horizonte.</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </footer>
        
        <div class="rodape">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>

        <script type="module" src="../public/js/allScript.js"></script>    
    </body>
    
</html>