<!DOCTYPE html>

<html>
    <head>
        <title>Foodfy - Login</title>
        <link rel = "shortcut icon" href = "chef.png">
        <link rel = "stylesheet" href = "/public/styles.css">
    </head>

    <body>

        <section class="corpo">

            <header>
                <div class = "links">
                    <div class="imagemLogo">
                        <a href="foodfy-inicial.html"><img src = "/Imagens/logo.png"></a>
                    </div>
                    <div class="nav">
                        <a href = "sobre.html">Sobre</a>
                        <a href = "receitas.html">Receitas</a>
                        <a href="contato.html">Contato</a>
                        <a href="entrar.html">Entrar</a>
                    </div>

                    <div class="organizabusca">
                        <input class = "busca" type="text" placeholder = "Buscar uma receita">
                        <button class = "botaoEnter" >Buscar</button>
                    </div>

                </div>
            </header>

            <div class="login">
                <div class="login1">
                    <h1>Iniciar Sessão</h1>
                    <div class="email">
                        <h2>E-mail</h2>
                        <input class = "entrada" type="email" name="email" placeholder="Digite o seu e-mail">
                    </div>
                    <div class="senha">
                        <h2>Senha</h2>
                        <input class = "entrada" type="password" name="senha" placeholder="Digite a sua senha">
                    </div>

                    <button class = "botao" type="submit">Entrar</button>
                    <div id = "subopc">
                        <a href="#">Esqueceu a senha? |</a>
                        <a href="#">Cadastre-se</a>
                    </div>

                </div>
            </div>
        </section>

        <footer>
            <div class="rodape">
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </div>
        </footer>
        <script src="/public/scriptF.js"></script>
    </body>
</html>