<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=2.0">
        <title>Foodfy - Login</title>
        <link rel = "shortcut icon" href = "chef.png">
        <link rel = "stylesheet" href = "../public/css/all.css">
    </head>

    <body class="tema-claro">

        <section class="corpo">

            <header id = "cabeca">
                <div id = "links">
                    
                    <div id="Logo">
                        <a href="index.html">Foodfy</a>
                    </div>

                    <div id="organizabusca">
                        <input class = "busca" type="text" placeholder = "Buscar uma receita">
                        <button id = "botaoEnter">Buscar</button>
                    </div>

                    <div id="lista" data-menu="lista">
                        <button id = "btn-menu" data-menu="btn-menu">
                            <span id="hamburguer"></span>
                        </button>
                        <ul id="menu">
                            <li><a href="sobre.html">Sobre</a></li>
                            <li><a href="contato.html">Contato</a></li>
                            <li><a href="receitas.html">Receitas</a></li>
                            <li><a href="entrar.html">Login</a></li>
                        </ul>
                    </div>


                </div>
            </header>

            <form action="teste.php" method="post" class="login">
                <div class="login1">
                    <h1>Iniciar Sessão</h1>
                    <div class="email">
                        <label for="email"><h2>E-mail</h2></label>
                        <input class = "entrada" type="email" name="email" autocomplete="email" placeholder="Digite o seu e-mail" id="email" required>
                    </div>
                    <div class="senha">
                        <label for="senha">
                            <h2>Senha</h2>
                        </label>
                        <input class = "entrada" type="password" minlength="8" maxlength="20" name="senha" autocomplete="current-password"  placeholder="Digite a sua senha" id = "senha"required>
                    </div>

                    <button class = "botao" type="submit">Entrar</button>
                    <div id = "subopc">
                        <a href="#">Esqueceu a senha? |</a>
                        <a href="#">Cadastre-se</a>
                    </div>

                </div>
            </form>
        </section>

        <footer>
            <div class="bg-footer">
                <section class="footer-content">
                    <div class="sobrefoodfy">
                        <h3>Foodfy<sup>®</sup></h3>
                        <p>Comida tradicional, fresca e deliciosa para encantar toda a família.</p>
                        <h4>Siga-nos</h4>
    
                        <div class="redesocial">
                            <div><a href="https://pt-br.facebook.com/" target="_blank"><img src="../icons/facebook.svg" alt="facebook"></a></div>
                            <div><a href="https://www.instagram.com/" target="_blank"><img src="../icons/instagram.svg" alt="instagram"></a></div>
                            <div><a href="https://twitter.com/" target="_blank"><img src="../icons/twitter.svg" alt="twitter"></a></div>
                        </div>
                    </div>
    
                    <div class="linksacesso">
                        <h3>Links</h3>
                        <ul>
                            <li><a href = "foodfy-inicial.html">Início</a></li>
                            <li><a href = "sobre.html">Sobre</a></li>
                            <li><a href = "receitas.html">Receitas</a></li>
                            <li><a href="contato.html">Contato</a></li>
                            <li><a href="entrar.html">Login</a></li>
                        </ul>
                    </div>
    
                    <div class="suporte">
                        <h3>Suporte</h3>
                        <ul>
                            <li><a href="contato.html">Contato</a></li>
                            <li><a href="contato.html">Central de apoio</a></li>
                            <li><a href="contato.html">Feedback</a></li>
                        </ul>
                    </div>
    
                    <div class="contatos-footer">
                        <h3>Contatos</h3>
                        <ul>
                            <li><a href="contato.html">3421-8369</a></li>
                            <li><a href="contato.html">foodfy@gmail.com</a></li>
                            <li><a href="contato.html">Rua Horácio Nóbrega, 451, Belo Horizonte.</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </footer>

        <div class="rodape">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
        
        <script type="module" src="../public/js/allScript.js"></script>     
    </body>
    
</html>