<!DOCTYPE html>

<html>
    <head>
        <title>Foodfy</title>
        <link rel = "shortcut icon" href = "chef.png">
        <link rel = "stylesheet" href = "/public/styles.css">
    </head>

    <body>

        <section class="corpo">

            <header>
                <div class = "links">
                    <div class="imagemLogo">
                        <a href="foodfy-inicial.html"><img src = "/Imagens/logo.png"></a>
                    </div>
                    <div class="nav">
                        <a href = "sobre.html">Sobre</a>
                        <a href = "receitas.html">Receitas</a>
                    </div>
                </div>
            </header>
    

            <section class="layout">
                <div class="layoutTexto">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                </div>
                <div class="teste">
                    <img src = "chef.png" alt = "chef">
                </div>
                

            </section>

            <div class="subtitulo">
                <h2>Mais acessadas</h2>
            </div>
            
    
            <div class="organizaCard">
                <section class="cards">
                    <div class="card" id="/Imagens/burger.png">
                        <div class="card_imagem">
                            <img src="/Imagens/burger.png" alt="triplo bacon burger">
                        </div>
            
                        <div class="card_titulo">
                            <h1>Triplo bacon burger</h1>
                            <div class="card_autor">
                                <p>por Jorge Relato</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="card" id="/Imagens/pizza.png">
                        <div class="card_imagem">
                            <img src="/Imagens/pizza.png" alt="Pizza 4 estações">
                        </div>
                        <div class="card_titulo">
                            <h1>Pizza 4 estações</h1>
                            <div class="card_autor">
                                <p>por Fabiana Melo</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="card" id="/Imagens/espaguete.png">
                        <div class="card_imagem">
                            <img src="/Imagens/espaguete.png" alt="Espaguete ao alho">
                        </div>
            
                        <div class="card_titulo">
                            <h1>Espaguete ao alho</h1>
                            <div class="card_autor">
                                <p>por Júlia Kinoto</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="card" id="/Imagens/lasanha.png">
                        <div class="card_imagem">
                            <img src="/Imagens/lasanha.png" alt="Lasanha mac n' cheese">
                        </div>
            
                        <div class="card_titulo">
                            <h1>Lasanha mac n' cheese</h1>
                            <div class="card_autor">
                                <p>por Juliano Vieira</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="card" id="/Imagens/doce.png">
                        <div class="card_imagem">
                            <img src="/Imagens/doce.png" alt="Docinhos pão-do-céu">
                        </div>
            
                        <div class="card_titulo">
                            <h1>Docinhos pão-do-céu</h1>
                            <div class="card_autor">
                                <p>por Ricardo Golvea</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="card" id="/Imagens/asinhas.png">
                        <div class="card_imagem">
                            <img src="/Imagens/asinhas.png" alt="Asinhas de frango ao barbecue">
                        </div>
            
                        <div class="card_titulo">
                            <h1>Asinhas de frango ao barbecue</h1>
                            <div class="card_autor">
                                <p>por Vania Steroski</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    
            <div class="modal_overlay">
                <div class="modal">
    
                    <div class="close_modal">
                        <img src="https://img.icons8.com/windows/32/000000/macos-close.png"/>
                    </div>
    
                    <div class="modal_conteudo">
                        <img src="" alt="Receitas">
                    </div>
    
                    <div class="titulosModal">
                        <h1></h1>
                        <div class="autor">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
         <script src="/public/scriptF.js"></script>
        </section>

        <footer>
            <div class="rodape">
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </div>
        </footer>
    </body>
</html>