<!DOCTYPE html>

<html>
    <head>
        <title>Foodfy</title>
        <link rel = "shortcut icon" href = "chef.png">
        <link rel = "stylesheet" href = "../public/css/all.css" media="all">
    </head>

    <body class="tema-claro">

        <section class="corpo">

            <header id = "cabeca">
                <div id = "links">
                    
                    <div id="Logo">
                        <a href="index.html">Foodfy</a>
                    </div>

                    <div id="organizabusca">
                        <input class = "busca" type="text" placeholder = "Buscar uma receita">
                        <button id = "botaoEnter">Buscar</button>
                    </div>

                    <div id="lista" data-menu="lista">
                        <button id = "btn-menu" data-menu="btn-menu">
                            <span id="hamburguer"></span>
                        </button>
                        <ul id="menu">
                            <li><a href="sobre.html">Sobre</a></li>
                            <li><a href="contato.html">Contato</a></li>
                            <li><a href="receitas.html">Receitas</a></li>
                            <li><a href="entrar.html">Login</a></li>
                        </ul>
                    </div>


                </div>
            </header>
    

            <section class="layout">
                <div class="layoutTexto">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                </div>
                <div class="imagem-bg-chef">
                    <div class="imagem-chef"></div>
                </div>
                

            </section>

            <div class="subtitulo">
                <h2>Mais acessadas</h2>
            </div>
            
    
            <div class="organizaCard">
                <section class="cards">
                    <div class="card" id="../Imagens/burger.png">
                        <div class="card_imagem">
                            <img src="../Imagens/burger.png" alt="triplo bacon burger">
                        </div>
            
                        <div class="card_titulo">
                            <h1>Triplo bacon burger</h1>
                            <div class="card_autor">
                                <p>por Jorge Relato</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="card" id="../Imagens/pizza.png">
                        <div class="card_imagem">
                            <img src="../Imagens/pizza.png" alt="Pizza 4 estações">
                        </div>
                        <div class="card_titulo">
                            <h1>Pizza 4 estações</h1>
                            <div class="card_autor">
                                <p>por Fabiana Melo</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="card" id="../Imagens/espaguete.png">
                        <div class="card_imagem">
                            <img src="../Imagens/espaguete.png" alt="Espaguete ao alho">
                        </div>
            
                        <div class="card_titulo">
                            <h1>Espaguete ao alho</h1>
                            <div class="card_autor">
                                <p>por Júlia Kinoto</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="card" id="../Imagens/lasanha.png">
                        <div class="card_imagem">
                            <img src="../Imagens/lasanha.png" alt="Lasanha mac n' cheese">
                        </div>
            
                        <div class="card_titulo">
                            <h1>Lasanha mac n' cheese</h1>
                            <div class="card_autor">
                                <p>por Juliano Vieira</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="card" id="../Imagens/doce.png">
                        <div class="card_imagem">
                            <img src="../Imagens/doce.png" alt="Docinhos pão-do-céu">
                        </div>
            
                        <div class="card_titulo">
                            <h1>Docinhos pão-do-céu</h1>
                            <div class="card_autor">
                                <p>por Ricardo Golvea</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="card" id="../Imagens/asinhas.png">
                        <div class="card_imagem">
                            <img src="../Imagens/asinhas.png" alt="Asinhas de frango ao barbecue">
                        </div>
            
                        <div class="card_titulo">
                            <h1>Asinhas de frango ao barbecue</h1>
                            <div class="card_autor">
                                <p>por Vania Steroski</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
<!--
        <div class="modal_overlay">
            <div class="modal">

                <div class="close_modal">
                    <img src="../icons/x.svg"/>
                </div>

                <div class="modal_conteudo">
                    <img src="" alt="Receitas">
                </div>

                <div class="titulosModal">
                    <h1></h1>
                    <div class="autor">
                        <p></p>
                    </div>
                </div>

                <div class="modal_detalhes">
                    <div class = "ingredientes">
                        <h2>Ingredientes</h2>
                        <ul>
                            <li>1 lata de creme de leite</li>
                            <li>1 lata de milho verde</li>
                            <li>1 copo de requeijão cremoso</li>
                            <li>100 g de azeitona sem caroço</li>
                            <li>2 peitos de frango desfiados</li>
                            <li>200 g de mussarela fatiada</li>
                            <li>100 g de batata palha</li>
                            <li>1 xícara de água</li>
                            <li>1 pitada de sal</li>
                        </ul>
                    </div>
    
                    <div class="detalhes">
                        <h2>Preparo</h2>
                        <p>30 Min</p>
                        <h2 id = "rend">Rendimento</h2>
                        <p>5 Porções</p>
                    </div>
                </div>
            </div>
        </div>   
-->
        <footer>
            <div class="bg-footer">
                <section class="footer-content">
                    <div class="sobrefoodfy">
                        <h3>Foodfy<sup>®</sup></h3>
                        <p>Comida tradicional, fresca e deliciosa para encantar toda a família.</p>
                        <h4>Siga-nos</h4>
    
                        <div class="redesocial">
                            <div><a href="https://pt-br.facebook.com/" target="_blank"><img src="../icons/facebook.svg" alt="facebook"></a></div>
                            <div><a href="https://www.instagram.com/" target="_blank"><img src="../icons/instagram.svg" alt="instagram"></a></div>
                            <div><a href="https://twitter.com/" target="_blank"><img src="../icons/twitter.svg" alt="twitter"></a></div>
                        </div>
                    </div>
    
                    <div class="linksacesso">
                        <h3>Links</h3>
                        <ul>
                            <li><a href = "foodfy-inicial.html">Início</a></li>
                            <li><a href = "sobre.html">Sobre</a></li>
                            <li><a href = "receitas.html">Receitas</a></li>
                            <li><a href="contato.html">Contato</a></li>
                            <li><a href="entrar.html">Login</a></li>
                        </ul>
                    </div>
    
                    <div class="suporte">
                        <h3>Suporte</h3>
                        <ul>
                            <li><a href="contato.html">Contato</a></li>
                            <li><a href="contato.html">Central de apoio</a></li>
                            <li><a href="contato.html">Feedback</a></li>
                        </ul>
                    </div>
    
                    <div class="contatos-footer">
                        <h3>Contatos</h3>
                        <ul class="lista-contatos">
                            <li><a href="contato.html">3421-8369</a></li>
                            <li><a href="contato.html">foodfy@gmail.com</a></li>
                            <li><a href="contato.html">Rua Horácio Nóbrega, 451, Belo Horizonte.</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="rodape">
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </div>
        </footer>
        
    <script type="module" src="../public/js/allScript.js"></script>   
    </body>
    
</html>
