<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy - Triplo bacon burger</title>
    <link rel="shortcut icon" href="chef.png">
    <link rel = "stylesheet" href = "../public/css/all.css">
</head>

<body class="tema-claro">
    <section class="corpo">
        <header id = "cabeca">
            <div id = "links">

                <div class="buscaMobile" data-busca><img src="../Imagens/search.svg" alt="busca"></div>
                
                <div id="Logo">
                    <a href="index.html">Foodfy</a>
                </div>

                <div id="organizabusca">
                    <input class = "busca" type="text" placeholder = "Buscar uma receita">
                    <button id = "botaoEnter">Buscar</button>
                </div>



                <div id="lista" data-menu="lista">
                    <button id = "btn-menu" data-menu="btn-menu">
                        <span id="hamburguer"></span>
                    </button>
                    <ul id="menu">
                        <li><a href="sobre.html">Sobre</a></li>
                        <li><a href="contato.html">Contato</a></li>
                        <li><a href="receitas.html">Receitas</a></li>
                        <li><a href="entrar.html">Login</a></li>
                    </ul>
                </div>


            </div>
        </header>

        <main>
            <div class="tela-receita-unica" data-receita>
                <div class="card-receitaU">
                    <div class="card_imagem-receitaU">
                        <div></div>
                    </div>
                
                    <div class="card_titulo-receitaU">
                        <h1></h1>
                        <div class="card_autor-receitaU">
                            <p></p>
                            <h1 class="ingredientes-titulo-receita">Ingredientes</h1>
                            <p class="ingredientes-receita"></p>
                            <div class="modo-preparo"></div>
                        </div>
                    </div>
                    <!--colocar tempo de preparo-->
                </div>
            </div>
        </main>
    </section>

    <footer>
        <div class="bg-footer">
            <section class="footer-content">
                <div class="sobrefoodfy">
                    <h3>Foodfy<sup>®</sup></h3>
                    <p>Comida tradicional, fresca e deliciosa para encantar toda a família.</p>
                    <h4>Siga-nos</h4>

                    <div class="redesocial">
                        <div><a href="https://pt-br.facebook.com/" target="_blank"><img src="../icons/facebook.svg" alt="facebook"></a></div>
                        <div><a href="https://www.instagram.com/" target="_blank"><img src="../icons/instagram.svg" alt="instagram"></a></div>
                        <div><a href="https://twitter.com/" target="_blank"><img src="../icons/twitter.svg" alt="twitter"></a></div>
                    </div>
                </div>

                <div class="linksacesso">
                    <h3>Links</h3>
                    <ul>
                        <li><a href = "index.html">Início</a></li>
                        <li><a href = "sobre.html">Sobre</a></li>
                        <li><a href = "receitas.html">Receitas</a></li>
                        <li><a href="contato.html">Contato</a></li>
                        <li><a href="entrar.html">Login</a></li>
                    </ul>
                </div>

                <div class="suporte">
                    <h3>Suporte</h3>
                    <ul>
                        <li><a href="contato.html">Contato</a></li>
                        <li><a href="contato.html">Central de apoio</a></li>
                        <li><a href="contato.html">Feedback</a></li>
                    </ul>
                </div>

                <div class="contatos-footer">
                    <h3>Contatos</h3>
                    <ul class="lista-contatos">
                        <li><a href="contato.html">3421-8369</a></li>
                        <li><a href="contato.html">foodfy@gmail.com</a></li>
                        <li><a href="contato.html">Rua Horácio Nóbrega, 451, Belo Horizonte.</a></li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="rodape">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
    </footer>
    <script type="module" src="../public/js/allScript.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
</body>

</html>