<!DOCTYPE html>

<html>

<head>
    <title>Foodfy - Receitas</title>
    <link rel="shortcut icon" href="chef.png">
    <link rel = "stylesheet" href = "../public/css/all.css" media="all">
</head>

<body class="tema-claro">
    <section class="corpo">
        <header id = "cabeca">
            <div id = "links">
                
                <div id="Logo">
                    <a href="index.html">Foodfy</a>
                </div>

                <div id="organizabusca">
                    <input class = "busca" type="text" placeholder = "Buscar uma receita">
                    <button id = "botaoEnter">Buscar</button>
                </div>

                <div id="lista" data-menu="lista">
                    <button id = "btn-menu" data-menu="btn-menu">
                        <span id="hamburguer"></span>
                    </button>
                    <ul id="menu">
                        <li><a href="sobre.html">Sobre</a></li>
                        <li><a href="contato.html">Contato</a></li>
                        <li><a href="receitas.html">Receitas</a></li>
                        <li><a href="entrar.html">Login</a></li>
                    </ul>
                </div>


            </div>
        </header>
        <div class="categoria">
            <nav>
                <ul>
                    <li><a href="#">BOLOS E TORTAS</a></li>
                    <li><a href="#">CARNES</a></li>
                    <li><a href="#">AVES</a></li>
                    <li><a href="#">PEIXES</a></li>
                    <li><a href="#">SALADAS E MOLHOS</a></li>
                    <li><a href="#">DOCES E SOBREMESAS</a></li>
                    <li><a href="receitaUnica.html">MASSAS</a></li>           
                </ul>
            </nav>
        </div>

        <section class="organizareceita">
            <section class="cards" data-card>

            </section>
        </section>
    </section>

    <footer>
        <div class="bg-footer">
            <section class="footer-content">
                <div class="sobrefoodfy">
                    <h3>Foodfy<sup>®</sup></h3>
                    <p>Comida tradicional, fresca e deliciosa para encantar toda a família.</p>
                    <h4>Siga-nos</h4>

                    <div class="redesocial">
                        <div><a href="https://pt-br.facebook.com/" target="_blank"><img src="../icons/facebook.svg" alt="facebook"></a></div>
                        <div><a href="https://www.instagram.com/" target="_blank"><img src="../icons/instagram.svg" alt="instagram"></a></div>
                        <div><a href="https://twitter.com/" target="_blank"><img src="../icons/twitter.svg" alt="twitter"></a></div>
                    </div>
                </div>

                <div class="linksacesso">
                    <h3>Links</h3>
                    <ul>
                        <li><a href = "foodfy-inicial.html">Início</a></li>
                        <li><a href = "sobre.html">Sobre</a></li>
                        <li><a href = "receitas.html">Receitas</a></li>
                        <li><a href="contato.html">Contato</a></li>
                        <li><a href="entrar.html">Login</a></li>
                    </ul>
                </div>

                <div class="suporte">
                    <h3>Suporte</h3>
                    <ul>
                        <li><a href="contato.html">Contato</a></li>
                        <li><a href="contato.html">Central de apoio</a></li>
                        <li><a href="contato.html">Feedback</a></li>
                    </ul>
                </div>

                <div class="contatos-footer">
                    <h3>Contatos</h3>
                    <ul class="lista-contatos">
                        <li><a href="contato.html">3421-8369</a></li>
                        <li><a href="contato.html">foodfy@gmail.com</a></li>
                        <li><a href="contato.html">Rua Horácio Nóbrega, 451, Belo Horizonte.</a></li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="rodape">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
    </footer>
    
    <div class="modal" data-modal="modal">
        <div class="card-modal">
            <div class="card_imagem-modal">
                <div>
                </div>
            </div>
        
            <div class="card_titulo-modal">
                <h1></h1>
                <div class="card_autor-modal">
                    <p></p>
                    <h1 class="ingredientes-titulo">Ingredientes</h1>
                    <p class="ingredientes"></p>
                </div>
            </div>

            <p class="ver-mais"><a href="receitaUnica.html">Confira a receita completa</a></p>
            <div class="close-modal" data-modal="closeModal"><img src=".././Imagens/x-circle.svg" alt="close-modal"></div>
        </div>
    </div>
    
    <script type="module" src="../public/js/allScript.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script> 
</body>

</html>