<!DOCTYPE html>

<html>

<head>
    <title>Foodfy - Triplo bacon burger</title>
    <link rel="shortcut icon" href="chef.png">
    <link rel = "stylesheet" href = "../public/styles.css" media="all">
    <link rel="stylesheet" href="../public/media.css" media="screen">
</head>

<body class="tema-claro">
    <section class="corpo">
        <header id = "cabeca">
            <div id = "links">
                
                <div id="Logo">
                    <a href="foodfy-inicial.html">Foodfy</a>
                </div>

                <div id="organizabusca">
                    <input class = "busca" type="text" placeholder = "Buscar uma receita">
                    <button id = "botaoEnter">Buscar</button>
                </div>

                <div id="lista">
                    <ul id="menu">
                        <li><a href="sobre.html">Sobre</a></li>
                        <li><a href="contato.html">Contato</a></li>
                        <li><a href="receitas.html">Receitas</a></li>
                        <li><a href="entrar.html">Login</a></li>
                    </ul>
                </div>

                <div id="botao-1" class="separacao">
                        <img src="../icons/moon.svg" alt="tema-claro">
                </div>

                <button id = "btn-menu">Menu</button>
            </div>
        </header>

        <main>
            <div class="ham">
                <div class="card_imagem">
                    <img src="../Imagens/burger.png" alt="triplo bacon burger">
                </div>
                <div class="info_card">
                    <h1>Triplo bacon burger</h1>
                    <p>por Jorge Relato</p>
                </div>
            </div>
            <div class="textos_receitaUnica">
                <h2>Ingredientes</h2>
                    <ul class = "lista_ingredientes" id ="unico">
                        <li>3 Texas Burguer Seara</li>
                        <li>3 colheres de chá de óleo</li>
                        <li>6 fatias de queijo cheddar</li>
                        <li>2 fatias de Bacon Fatias Redondas Double Smoked Seara Gourmet</li>
                        <li>1 pão de gergelim para hambúrguer</li>
                    </ul>

                <h2>Modo de preparo</h2>

                    <ol class = "lista_ingredientes" >
                        <li>Em um liquidificador junte as gemas e o suco de limão, bata em velocidade baixa até formar uma mistura;</li>
                        <li>Ainda batendo, junte o óleo em fio vagarosamente. Quando a mistura atingir um ponto cremoso, junte o restante dos ingredientes separadamente, batendo a cada adição e bata até ficar homogêneo. Coloque em um pote com tampa, leve à geladeira por pelo menos 1h;</li>
                        
                    </ol>
                    
                    <h3>Para o hambúrguer e montagem</h3>
                    
                    <ol class = "lista_ingredientes">
                            <li>Em uma frigideira antiaderente, adicione 1 fatia de Bacon Fatias Redondas Double Smoked Seara Gourmet por vez e frite em fogo médio até estarem douradas, por cerca de 2 minutos cada;</li>
                            <li>Aqueça uma frigideira em fogo médio, junte 1 colher de chá de óleo e frite o Texas Burguer Seara por 6 minutos, virando na metade do tempo;</li>
                            <li>Desligue a frigideira, adicione 2 fatias de queijo cheddar sobre o hambúrguer, tampe a frigideira e aguarde 1 minuto para que o queijo derreta com o calor do hambúrguer. Repita a operação com o restante dos Texas Burguer Seara;</li>
                            <li>Na parte inferior do pão de hambúrguer, disponha os três hambúrgueres com queijo cheddar. Por cima do último hambúrguer coloque o bacon fatias, a maionese e feche o pão. Sirva na sequência.</li>
                    </ol>

                <h2>Informações adicionais</h2>
                <p>Entre as ideias de lanches rápidos e fáceis para fazer em casa, o Triplo Burguer Bacon é uma daquelas receitas com hambúrguer que você não consegue reproduzir apenas uma vez: depois de experimentar, sempre fica com um gostinho de quero mais!</p>
                
                <p>Além de ser tão saboroso quanto outros lanches que acompanham as mais novas versões de hambúrguer gourmet, para preparar essa receita, você só precisa de uma unidade de pão de gergelim para hambúrguer, uma maionese caseira bem feita (e, de preferência, bastante apimentada), três Texas Burguer Seara, seis fatias de queijo cheddar e uma generosa porção de bacon fatiado, com direito a suculência e o sabor marcante do Bacon fatias double smoked Seara Gourmet.</p>
                    
                <p>Para turbinar ainda mais o seu sanduíche de hambúrguer, vale a pena apostar ainda em uma das nossas receitas de molho para hambúrguer que conseguem transformar qualquer lanche caseiro em uma experiência gastronômica ainda mais especial. Quer uma sugestão? Ao misturar a maionese caseira picante com um pouco de mostarda Dijon, você consegue rapidamente reproduzir o  Molho Dijonnaise, considerado um clássico das hamburguerias. E aí, vai testar a receita de Triplo Burguer Bacon na sua casa?</p>
                    
                <p><b>Para preparar o Triplo Burguer Bacon, não se esqueça do Texas Burguer Seara e do Bacon fatias double smoked Seara Gourmet</b></p>
                    
                <p>Talvez a gente não tenha deixado isso tão claro, mas a melhor parte do Triplo Burguer Bacon são justamente os ingredientes que conseguem transformá-lo em uma receita de hambúrguer totalmente irresistível. Um deles, sem dúvidas, é o Texas Burguer Seara, um hambúrguer feito com carnes selecionadas, somadas à combinação de um delicioso tempero da Seara.. Todo esse cuidado com o preparo resulta em um alimento saboroso, ideal para receitas de lanche, almoço e jantar, ou para ser usado como ingrediente de um delicioso sanduíche de hambúrguer, como esse.</p>
                    
                <p>Outro sabor predominante desse lanche vem do Bacon fatias double smoked Seara Gourmet. Além de ser feito 100% a partir de paleta suína, esse bacon fatiado é duplamente defumado e possui a proporção ideal entre carne e gordura. Suas fatias redondas e mais grossas são ideais para complementar sanduíches como esse e outros que já apareceram aqui no Minha Receita, como o Hambúrguer Angus com Fatias Redondas de Bacon e o Duplo Burger Bacon com Picles de Cebola Roxa, Queijo Cheddar no Pão de Pimenta Biquinho.</p>
            </div>
        </main>
    </section>

    <footer>
        <div class="bg-footer">
            <section class="footer-content">
                <div class="sobrefoodfy">
                    <h3>Foodfy<sup>®</sup></h3>
                    <p>Comida tradicional, fresca e deliciosa para encantar toda a família.</p>
                    <h4>Siga-nos</h4>

                    <div class="redesocial">
                        <div><a href="https://pt-br.facebook.com/" target="_blank"><img src="../icons/facebook.svg" alt="facebook"></a></div>
                        <div><a href="https://www.instagram.com/" target="_blank"><img src="../icons/instagram.svg" alt="instagram"></a></div>
                        <div><a href="https://twitter.com/" target="_blank"><img src="../icons/twitter.svg" alt="twitter"></a></div>
                    </div>
                </div>

                <div class="linksacesso">
                    <h3>Links</h3>
                    <ul>
                        <li><a href = "foodfy-inicial.html">Início</a></li>
                        <li><a href = "sobre.html">Sobre</a></li>
                        <li><a href = "receitas.html">Receitas</a></li>
                        <li><a href="contato.html">Contato</a></li>
                        <li><a href="entrar.html">Login</a></li>
                    </ul>
                </div>

                <div class="suporte">
                    <h3>Suporte</h3>
                    <ul>
                        <li><a href="contato.html">Contato</a></li>
                        <li><a href="contato.html">Central de apoio</a></li>
                        <li><a href="contato.html">Feedback</a></li>
                    </ul>
                </div>

                <div class="contatos-footer">
                    <h3>Contatos</h3>
                    <ul>
                        <li><a href="contato.html">3421-8369</a></li>
                        <li><a href="contato.html">foodfy@gmail.com</a></li>
                        <li><a href="contato.html">Rua Horácio Nóbrega, 451, Belo Horizonte.</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </footer>

    <div class="rodape">
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </div>
    
    <script src="../public/scriptF.js"></script>
</body>

</html>