<!DOCTYPE html>

<html>
    <head>
        <title>Foodfy - Sobre</title>
        <link rel = "shortcut icon" href = "chef.png">
        <link rel = "stylesheet" href = "/public/styles.css">
    </head>

    <body>
        <section class="corpo">
            <header>
                <div class = "links">
                    <div class="Logo">
                        <a href="foodfy-inicial.html">Foodfy</a>
                    </div>
                    
                    <div class="nav">
                        <a href = "sobre.html">Sobre</a>
                        <a href = "receitas.html">Receitas</a>
                        <a href="contato.html">Contato</a>
                        <a href="entrar.html">Entrar</a>
                    </div>

                    <div class="organizabusca">
                        <input class = "busca" type="text" placeholder = "Buscar uma receita">
                        <button class = "botaoEnter" >Buscar</button>
                    </div>
                </div>
            </header>
    
    
            <div class="textos">
                <h1>Sobre o Foodfy</h1>
                <p>Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo. Aliquam vel 
                    lacus a justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt risus. Mauris malesuada 
                    facilisis magna, vitae volutpat sapien tristique eu. Morbi metus nunc, interdum in erat placerat, aliquam iaculis massa. 
                    Duis vulputate varius justo pharetra maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis, 
                    non dictum metus. Vivamus ligula ex, semper vitae eros ut, euismod convallis augue.
                    <br><br>Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. Proin ligula 
                    lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. Integer in tincidunt arcu, et 
                    posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at accumsan. Donec libero neque, vulputate 
                    semper orci et, malesuada sodales eros. Nunc ut nulla faucibus enim ultricies euismod.</p>
                <h2>Como tudo começou...</h2>
                <p>Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo. Aliquam vel 
                    lacus a justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt risus. Mauris malesuada 
                    facilisis magna, vitae volutpat sapien tristique eu. Morbi metus nunc, interdum in erat placerat, aliquam iaculis massa. 
                    Duis vulputate varius justo pharetra maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis, 
                    non dictum metus. Vivamus ligula ex, semper vitae eros ut, euismod convallis augue.
                    <br><br>Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. Proin ligula 
                    lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. Integer in tincidunt arcu, et 
                    posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at accumsan. Donec libero neque, vulputate 
                    semper orci et, malesuada sodales eros. Nunc ut nulla faucibus enim ultricies euismod.</p>
                <h3>Nossas receitas</h3>
                <p>Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. Proin ligula 
                    lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. Integer in tincidunt arcu, et 
                    posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at accumsan. Donec libero neque, vulputate 
                    semper orci et, malesuada sodales eros. Nunc ut nulla faucibus enim ultricies euismod.
                    </p>
            </div>
        </section>

        <footer>
            <div class="bg-footer">
                <section class="footer-content">
                    <div class="sobrefoodfy">
                        <h3>Foodfy<sup>®</sup></h3>
                        <p>Comida tradicional, fresca e deliciosa para encantar toda a família.</p>
                        <h4>Siga-nos</h4>
    
                        <div class="redesocial">
    
                        </div>
                    </div>
    
                    <div class="linksacesso">
                        <h3>Links</h3>
                    </div>
    
                    <div class="suporte">
                        <h3>Suporte</h3>
                    </div>
    
                    <div class="contatos-footer">
                        <h3>Contatos</h3>
                    </div>
                </section>
            </div>
        </footer>

        <div class="rodape">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
        
    </body>
</html>